

<div class="wrapper mt-wrapper index">
  <% @users.each do |user| %>
    <% if user.authority == 1 %>
      <div class="users-index-item">
          <div class="content">
                <p class="name"><%= link_to(user.name, "/users/#{user.id}") %></p>
                <% st_time = user.post&.start_time %>
                <% fn_time = user.post&.finish_time %>
                <% if st_time == nil && fn_time == nil %>
                <p>勤怠記録がありません。</p>
                <%else%>
                <% st_num = st_time&.strftime("%w").to_i %>
                <P><%= st_time&.strftime("%Y/%m/%d(#{@weeks[st_num]})") %></p>
                <p>勤怠:<%= st_time&.strftime("%H:%M") %>〜<%= fn_time&.strftime("%H:%M") %></p>
                <p>勤務時間:<%= user.post&.working_hour_set %><P>
                <%post = user.post%>
                <%if post.finish_time == nil %>
                      <p class="alert_mark">打刻忘れ</p>
                  <% end %>

                  <% working_second = post.working_second_set %>
                  <% if 21600 < working_second && working_second < 28800 %>
                      <%if post.break_time == nil || (post.break_time * 60) < 2700 %>
                          <p class="alert_mark">過労</p>
                      <% end %>
                  <% end %>
                  <%if working_second > 28800 %>
                      <%if post.break_time == nil || (post.break_time. * 60) < 3600 %>
                          <p class="alert_mark">過労</p>
                      <%end %>
                  <% end %>
                <p class="link"><%= link_to("詳細","/users/#{user.id}") %></p>
                <% end %>
              </div>
            </div>
      <% end %>
  <% end %>
</div>


  