


<div class="wrapper posts-new">
    <p class="date"><%= @t.strftime("%Y/%m/%d(#{@week})") %></p>
    <p class="clock" id="RealtimeClockArea2"></p>
    <div class="posts-new-inner">
        <%= form_tag("/posts/register_work_starting_time", class: "start-form") do %>
            <input type="submit" class=" start-btn btn btn-outline-primary" value="出勤">
        <% end %>
        <%= form_tag("/posts/register_work_finished_time", class: "finish-form") do %>
            <input type="submit" class="finish-btn btn btn-outline-info" value="退勤" disabled>
        <% end %>
    </div>

    <div class="posts-new-inner">
        <div class="over-lay"></div>
        <button class="break-btn btn btn-outline-success" disabled>
            休憩時間
        </button>
        <div class="modal_ break">
            <%= form_tag("/posts/create", class: "break-form") do %>
                <h2>休憩</h2>
                <p>分で入力してください。</p>
                <input type="number" name="break_time">
                <input type="submit" class="modal-close-btn btn btn-outline-primary" value="保存">
            <% end %>
        </div>
        <button class="comment-btn btn btn-outline-secondary" disabled>
            備考
        </button>
        <div class="modal_ comment">
            <%= form_tag("/posts/create", class: "comment-form") do %>
                <h2>備考</h2>
                <textarea name="comment" class="form-control"></textarea>
                <input type="submit" class="modal-close-btn btn btn-outline-primary" value="保存">
            <% end %>
        </div>
    </div>

    <div class="posts-new-inner">
        <li class="change-btn btn btn-outline-warning">
            <%= link_to("編集", "/posts/#{@current_user.post.id}/edit") %>
        </li>
        <li class="change-btn btn btn-outline-danger">
            <%= link_to("削除", "/posts/#{@current_user.post.id}/destroy") %>
        </li>
    </div>
</div>


